.home {
  font-family: "Inter", sans-serif;
  color: #222;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.hero-search {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.hero-search select,
.hero-search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
}

.hero-search-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #ffb400;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hero-search-btn:hover {
  background-color: #e0a800;
}


.hero-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  object-fit: cover;
}

.categories {
  padding: 40px 10%;
}

.categories h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 600;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.category-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
