.filtro-lateral {
  background-color: #e8e5e5;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  width: 300px;

  border-right: 1px solid #ddd;
  height: 100vh; 
  box-sizing: border-box;
}

.filtro-lateral h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}

.filtro-lateral label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-size: 0.95rem;
  color: #444;
}

.filtro-lateral input,
.filtro-lateral select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
}

.filtro-lateral button {
  background-color: #ffb400;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.filtro-lateral button:hover {
  background-color: #ffa600;
}

.filtro-lateral {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

