.carousel-card-link {
  text-decoration: none; /* quitar subrayado de link */
  color: inherit; /* hereda el color de texto */
}

.carousel-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  cursor: pointer; /* indica que es clickeable */
}

.carousel-card:hover {
  transform: scale(1.03);
}

.carousel-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.carousel-info {
  padding: 10px;
  text-align: center;
}

.carousel-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
  color: #333;
}

.carousel-price {
  font-size: 1.2rem;          
  font-weight: 500;              
  font-family: 'Quicksand', sans-serif; 
  color: #ffb400;                  
  margin-bottom: 10px;
}